@page
@using BussinessLogicLibrary
@using Newtonsoft.Json
@model FabolousUI.Pages.Park.EditModel
@{
    var spots = @Model.Spots;
}



<div class="container p-3">
    <input hidden="hidden" asp-for="@Model.myNum" />
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Parked Vehicles</h2>
        </div>

        <div class="col-6">
            @foreach (var line in Model.myNum)
            {
                if (line.CurrentSize == 0)
                {
                    <a asp-page="CreateCar" asp-route-id="@line.Id" class="btn btn-outline-info ">
                        <i class="bi bi-emoji-heart-eyes"> &nbsp; Create New Car</i>
                    </a>
                    <a asp-page="CreateMotorcykle" asp-route-id="@line.Id" class="btn btn-outline-info ms-3">
                        <i class="bi bi-emoji-smile"></i> &nbsp; Create New Motorcycle
                    </a>
                }
                if (line.CurrentSize == 2)
                {
                    <a asp-page="CreateMotorcykle" asp-route-id="@line.Id" class="btn btn-outline-info ms-3">
                        <i class="bi bi-emoji-smile"></i> &nbsp; Create New Motorcycle
                    </a>
                }
                Dictionary<string, string> newSpotsForBuses = new Dictionary<string, string> { { "currentSpots", @Model.Spots } };
                if(@Model.Bus == true )
                {
                      
                    <a asp-page="CreateBus" asp-all-route-data="newSpotsForBuses" class="btn btn-outline-info ms-3">
                        <i class="bi bi-emoji-smile"></i> &nbsp; Create New Bus
                    </a>
                }
            }
        </div>

    </div>
    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Registration Number
                </th>
                <th>
                    Date
                </th>
                <th>Parking Spot</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var line in Model.myNum)
            {
                @foreach (var secondLine in line.ParkedVehicles)
                {
                    <tr>
                        <td width="15%">@secondLine.GetType().ToString().Substring(@secondLine.GetType().ToString().IndexOf('.')+1)</td>
                        <td width="15%">@secondLine.Registration </td>
                        <td width="15%">@secondLine.StartTime</td>
                        <td width="5%">@secondLine.Parkingspot</td>
                        <td>
                            @if (secondLine.GetType() == typeof(Car))
                            {
                                
                                <a asp-page="../EditTypes/EditCar" asp-route-id="@secondLine.Id" class="btn btn-primary mx-2">
                                    Edit
                                    <i class="bi-pencil-square"></i>
                                </a>
                                <a asp-page="../Checkout/CheckoutCar" asp-route-id="@secondLine.Id" class="btn btn-danger mx-2">
                                    Delete
                                    <i class="bi-trash-fill"></i>
                                </a>
                                Dictionary<string, string> dv = new Dictionary<string, string> { { "Car", JsonConvert.SerializeObject(secondLine) } };
                                <a asp-page="ReroutIndex" asp-all-route-data="dv" class="btn btn-secondary mx-2">
                                    Move
                                    <i class="bi bi-minecart-loaded"></i>
                                </a>
                            }
                            @if (secondLine.GetType() == typeof(Motorcycle))
                            {
                                <a asp-page="../EditTypes/EditMotorcykle" asp-route-id="@secondLine.Id" class="btn btn-primary mx-2">
                                    Edit
                                    <i class="bi-pencil-square"></i>
                                </a>
                                <a asp-page="../Checkout/CheckoutMotorcykle" asp-route-id="@secondLine.Id" class="btn btn-danger mx-2">
                                    Delete
                                    <i class="bi-trash-fill"></i>
                                </a>

                                Dictionary<string, string> dv = new Dictionary<string, string> { { "Motorcycle", JsonConvert.SerializeObject(secondLine) } };

                                <a asp-page="ReroutIndex" asp-all-route-data="dv" class="btn btn-secondary mx-2">
                                    Move
                                    <i class="bi bi-minecart-loaded"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
