@page
@using Newtonsoft.Json
@model FabolousUI.Pages.Park.ReroutIndexModel

<h1>Park page</h1>

<hr />
<br />
<br />

@{
    var numberOfColsNeeded = 5;
    var totalCounter = Model.Garage.spots.Count();
    var itemCounter = 1;
    int vSize = @Model.MyVehicle.Size;
    var vRegistration = @Model.MyVehicle;
    

}
    @{var parkingSpotCounter = 1;}


    @{
        
         foreach (var value in  Model.Garage.spots)
{

         if (itemCounter % numberOfColsNeeded == 1)
        {
        @:<div class="row" >
            <br />
        }

        if( value.Size-value.CurrentSize >= vSize) // The vehicle fits
        {
            Dictionary<string, string> newSpotDict = new Dictionary<string, string> { { "currentObject", JsonConvert.SerializeObject(vRegistration) } };
            
            <div class="col-lg-2 col-md-4 col-sm-6 pb-3">
        <div class="gridBox" data-id="">
            <div class="logo">
                    <a asp-page="../Move/Index" asp-all-route-data ="newSpotDict" asp-route-id ="@value.Id" class="btn btn-success" >@value.Id</a> 
                    
            </div>
        </div>
        </div>
        
    }
    

    else  //The vehicle dont fit
    {
        <div class="col-lg-2 col-md-4 col-sm-6 pb-3">
        <div class="gridBox" data-id="">
            <div class="logo">
                    <a class="btn btn-danger">@value.Id </a> 
            </div>
        </div>
        </div>
    }


    parkingSpotCounter++;

    if ((itemCounter % numberOfColsNeeded == 0) || ((itemCounter) == totalCounter))
    {
        @:</div>
    }
    itemCounter++;

}

}

<paging 
    
    page-no="Model.P"
    page-size="Model.S"
    total-records="Model.TotalRecords"
    show-total-pages="true"
    show-total-records= "true"
    show-page-size-nav="false"
    text-total-pages="Pages"
    text-total-records="Records"
    class-total-pages="badge badge-pill btn btn-danger btn-sm"
    class-total-records="badge badge-pill btn btn-dark btn-sm"

>
</paging>

<br />
<br />
