@page
@using BussinessLogicLibrary
@using BussinessLogicLibrary.Models
@using Newtonsoft.Json
@model FabolousUI.Pages.Park.SearchResult

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Parked Vehicles</h2>
        </div>
        <form method="get">

            <label>Registration Search</label>
            <input class="form-text" asp-for="@Model.Search" />
            <input type="submit" value="Search" />
        </form>
    </div>

    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Registration Number
                </th>
                <th>
                    Date
                </th>
                <th>Parking Spot</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var line in @Model.Vehicles)
            {
                <tr>
                    <td width="15%">@line.Registration </td>
                    <td width="15%">@line.StartTime</td>
                    <td width="5%">@line.Parkingspot</td>
                    <td>
                        @if (line.GetType() == typeof(Car))
                        {
                            <a asp-page="../EditTypes/EditCar" asp-route-id="@line.Id" class="btn btn-primary mx-2">
                                Edit
                                <i class="bi-pencil-square"></i>
                            </a>
                            <a asp-page="../Checkout/CheckoutCar" asp-route-id="@line.Id" class="btn btn-danger mx-2">
                                Delete
                                <i class="bi-trash-fill"></i>
                            </a>
                            Dictionary<string, string> dv = new Dictionary<string, string> { { "Car", JsonConvert.SerializeObject(line) } };
                            <a asp-page="ReroutIndex" asp-all-route-data="dv" class="btn btn-secondary mx-2">
                                Move
                                <i class="bi bi-minecart-loaded"></i>
                            </a>
                        }
                        @if (line.GetType() == typeof(Motorcycle))
                        {
                            <a asp-page="../EditTypes/EditMotorcykle" asp-route-id="@line.Id" class="btn btn-primary mx-2">
                                Edit
                                <i class="bi-pencil-square"></i>
                            </a>
                            <a asp-page="../Checkout/CheckoutMotorcykle" asp-route-id="@line.Id" class="btn btn-danger mx-2">
                                Delete
                                <i class="bi-trash-fill"></i>
                            </a>

                            Dictionary<string, string> dv = new Dictionary<string, string> { { "Motorcycle", JsonConvert.SerializeObject(line) } };

                            <a asp-page="ReroutIndex" asp-all-route-data="dv" class="btn btn-secondary mx-2">
                                Move
                                <i class="bi bi-minecart-loaded"></i>
                            </a>
                        }
                        @if (line.GetType() == typeof(Bicycle))
                        {
                            <a asp-page="../EditTypes/EditBicycle" asp-route-id="@line.Id" class="btn btn-primary mx-2">
                                Edit
                                <i class="bi-pencil-square"></i>
                            </a>
                            <a asp-page="../Checkout/CheckoutBicycle" asp-route-id="@line.Id" class="btn btn-danger mx-2">
                                Delete
                                <i class="bi-trash-fill"></i>
                            </a>

                            Dictionary<string, string> dv = new Dictionary<string, string> { { "Bicycle", JsonConvert.SerializeObject(line) } };

                            <a asp-page="ReroutIndex" asp-all-route-data="dv" class="btn btn-secondary mx-2">
                                Move
                                <i class="bi bi-minecart-loaded"></i>
                            </a>
                        }
                        @if (line.GetType() == typeof(Bus))
                        {
                            <a asp-page="../EditTypes/EditBus" asp-route-id="@line.Id" class="btn btn-primary mx-2">
                                Edit
                                <i class="bi-pencil-square"></i>
                            </a>
                            <a asp-page="../Checkout/CheckoutBus" asp-route-id="@line.Id" class="btn btn-danger mx-2">
                                Delete
                                <i class="bi-trash-fill"></i>
                            </a>

                            Dictionary<string, string> dv = new Dictionary<string, string> { { "Bus", JsonConvert.SerializeObject(line) } };

                            <a asp-page="ReroutIndex" asp-all-route-data="dv" class="btn btn-secondary mx-2">
                                Move
                                <i class="bi bi-minecart-loaded"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
